.resource-main-container{
  margin: 1em;
  background-color: #ADF795;
}

h1 {
  margin-top: 0px;
  padding-top: 1px;
}

.resource-list {
  border-style: solid;
  border-color: green;
  padding: 1em;
  width: 30%;
  height: 100%;
  display: inline-block;
  float: left;
  overflow: scroll;
}
.resource-display {
  border-style: solid;
  border-color: purple;
  padding: 1em;
  width: 60%;
  height: 100%;
  position: relative;
  display: inline-block;
  float: right;
  overflow: scroll;
}

.resource-card {
  border-style: solid;
  border-color: orange;
  padding: 1em;
  overflow-x: hidden;
}
